
.caja1 {

}

.caja2 {
}


.caja1, .caja2
{

    min-height: 350px;
    padding: 20px 10px 20px 10px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    border-style: solid;
    border-width: medium;
    border-color: #D3D3D3;
    background-color: whitesmoke;
    margin-right: 15px;

}

.campos {
    text-align: right;
    margin-right: 18px;
}

.imgStyle {
    width: 85px;
    height: 85px;
    background-color: #000;
    border: solid 1px rgba(0, 0, 0, 0.7);
    border-radius: 20%;
    margin-right: 5px;
    margin-top: 5px;
}

.mainImage{
    height: 230px;
    width: 270px;
    border: solid 1px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

.categoria{

    text-align: center;
    color: rgba(0, 0, 68, 1);
}

