.box
{
    background-color: whitesmoke;
    padding: 20px 10px 20px 10px;


    text-align: center;
    margin-right: 10px;
    min-height: 250px;
    border-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.7);


}

.mainImage{
    height: 250px;
    width: 250px;
    border: solid 1px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}