

/*.box1 {

    float: left;
}*/

.box1, .box2
{
    float: left;
    min-width: 300px;
    max-width: 500px;
    height: auto;
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    border-style: solid;
    border-width: medium;
    border-color: #D3D3D3;
}


.box1 {
    clear: left;
    margin-right: 10px;
}

